<%- include("header") -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam dolore eius, doloribus ex odio eum enim tempora illo et sapiente magni voluptates nobis quos exercitationem optio perferendis explicabo sunt commodi.</p>

<%- include("footer") -%>